@import url('./__description/profile__description.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__title/profile__title.css');
@import url('./__image/profile__image.css');

.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 36px 0;
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 43px 0;
    flex-direction: column;
    text-align: center;
  }
}

.profile__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 25px;
}

.profile__avatar-edit-button {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6) url('../../images/edit-avatar.svg') center no-repeat;
  border: none;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s
}

.profile__avatar-container:hover .profile__avatar-edit-button {
  opacity: 1;
}
